app-labels {
  width: 100%;
}

mat-tab-group {
  gap: 4px;
}
.tabs {
  height: 100vh;
  display: flex;
  // flex-direction: column;
}
.tab {
  flex-grow: 1;
  display: flex;
  gap: 30px;
  width: 100%;
}
.tab-title {
  flex-grow: 1;
}
.mdc-tab__content {
  width: 100%;
}

.edit-dashboard-button {
  background-color: white;
  padding: 5px 30px;
  border-radius: 5px;
}
.dashboard-title {
  color: white;
  font-size: 200%;
}
.dashboard-buttons {
  display: flex;
  gap: 5px;
}

.add-tab-button {
  display: flex;
  align-self: flex-end;
}
.add-tab-button-icon {
  color: white;
}
