<div *ngIf="dashBoardData !== null; else loading">
  <div class="bg-teal-900 w-full flex flex-col gap-4 p-2">
    <p class="dashboard-title">{{ dashboard }}</p>
    <div class="dashboard-buttons">
      <button
        *ngIf="!isEditing"
        class="edit-dashboard-button"
        mat-icon-button
        (click)="editDasboard()"
      >
        Edit</button
      ><ng-container *ngIf="isEditing">
        <button
          class="edit-dashboard-button"
          mat-icon-button
          (click)="saveDashboard()"
        >
          Save
        </button>
        <button
          class="edit-dashboard-button"
          mat-icon-button
          (click)="discardChanges()"
        >
          Discard
        </button>
      </ng-container>
    </div>
    <mat-tab-group class="tabs">
      <mat-tab
        class="tab"
        *ngFor="let tab of dashBoardData.tabs"
        label="{{ tab.title }}"
      >
        <ng-template mat-tab-label>
          <span (click)="routerTab(tab)">{{ tab.title }}</span>
        </ng-template>
        <router-outlet></router-outlet>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #loading>
  <p>Loading data, please wait...</p>
</ng-template>
